In [91]:
from tabula import read_pdf
import pandas as pd

# Extraer tablas de un PDF
tablas = read_pdf("../Limpieza_Accidentes_Transito/pdf/RED VIAL VECINAL.pdf", pages="all", multiple_tables=True)

In [110]:
df = pd.DataFrame(tablas[3])
df.head()

,Unnamed: 0,ID,Unnamed: 1,Unnamed: 2,ÓDIG,Unnamed: 3,Unnamed: 4,TRAYECTORIA,Unnamed: 5
0,7,AM-506,Emp. PE-5N C - Imacita - Puerto Imacita.,NaN,NaN,NaN,NaN,NaN,NaN
1,8,AM-507,Emp. PE-5N C - Tec Sec - Umukai - Pta.Carretera.,NaN,NaN,NaN,NaN,NaN,NaN
2,9,AM-508,Emp. PE-5N C - Pta. Carretera.,NaN,NaN,NaN,NaN,NaN,NaN
3,10,AM-509,Emp. PE-5N C - Inayo - Puerto Pakuy.,NaN,NaN,NaN,NaN,NaN,NaN
4,11,AM-510,Emp. PE-5N C - Aramango - Pte. Cotrina - Pte. ...,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
df.columns

Index(['Unnamed: 0', 'ID', 'Unnamed: 1', 'Unnamed: 2', 'ÓDIG', 'Unnamed: 3',
       'Unnamed: 4', 'TRAYECTORIA', 'Unnamed: 5'],
      dtype='object')

In [95]:
df.columns = ['COLUMN1', 'ID', 'TRAYECTORIA', 'COLUMN4', 'COLUMN5', 'COLUMN6', 'COLUMN7', 'COLUMN8', 'COLUMN9']
df.head()

,COLUMN1,ID,TRAYECTORIA,COLUMN4,COLUMN5,COLUMN6,COLUMN7,COLUMN8,COLUMN9
0,7,AM-506,Emp. PE-5N C - Imacita - Puerto Imacita.,NaN,NaN,NaN,NaN,NaN,NaN
1,8,AM-507,Emp. PE-5N C - Tec Sec - Umukai - Pta.Carretera.,NaN,NaN,NaN,NaN,NaN,NaN
2,9,AM-508,Emp. PE-5N C - Pta. Carretera.,NaN,NaN,NaN,NaN,NaN,NaN
3,10,AM-509,Emp. PE-5N C - Inayo - Puerto Pakuy.,NaN,NaN,NaN,NaN,NaN,NaN
4,11,AM-510,Emp. PE-5N C - Aramango - Pte. Cotrina - Pte. ...,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
columns_to_drop = ['COLUMN1', 'COLUMN4', 'COLUMN5', 'COLUMN6', 'COLUMN7', 'COLUMN8', 'COLUMN9']
for column in columns_to_drop:
    df.drop(column, axis=1, inplace=True)

In [97]:
df.head()

       ID                                        TRAYECTORIA
0  AM-506           Emp. PE-5N C - Imacita - Puerto Imacita.
1  AM-507   Emp. PE-5N C - Tec Sec - Umukai - Pta.Carretera.
2  AM-508                     Emp. PE-5N C - Pta. Carretera.
3  AM-509               Emp. PE-5N C - Inayo - Puerto Pakuy.
4  AM-510  Emp. PE-5N C - Aramango - Pte. Cotrina - Pte. ...

In [98]:
cantidad_tablas = len(tablas)
print(f"El PDF contiene {cantidad_tablas} tablas.")

El PDF contiene 323 tablas.

In [123]:
tablas_procesadas = []
for i, tabla in enumerate(tablas):
    print(f"Procesando Tabla {i + 1}...")
    df = pd.DataFrame(tabla)
    tablas_procesadas.append(df)  # Store processed DataFrame in a list

df_final = pd.concat(tablas_procesadas, ignore_index=True)

# Mostrar el DataFrame combinado
print(df_final)
# Exportar a CSV
df_final.to_csv("resultado.csv", index=False, sep=";")

Procesando Tabla 1...
Procesando Tabla 2...
Procesando Tabla 3...
Procesando Tabla 4...
Procesando Tabla 5...
Procesando Tabla 6...
Procesando Tabla 7...
Procesando Tabla 8...
Procesando Tabla 9...
Procesando Tabla 10...
Procesando Tabla 11...
Procesando Tabla 12...
Procesando Tabla 13...
Procesando Tabla 14...
Procesando Tabla 15...
Procesando Tabla 16...
Procesando Tabla 17...
Procesando Tabla 18...
Procesando Tabla 19...
Procesando Tabla 20...
Procesando Tabla 21...
Procesando Tabla 22...
Procesando Tabla 23...
Procesando Tabla 24...
Procesando Tabla 25...
Procesando Tabla 26...
Procesando Tabla 27...
Procesando Tabla 28...
Procesando Tabla 29...
Procesando Tabla 30...
Procesando Tabla 31...
Procesando Tabla 32...
Procesando Tabla 33...
Procesando Tabla 34...
Procesando Tabla 35...
Procesando Tabla 36...
Procesando Tabla 37...
Procesando Tabla 38...
Procesando Tabla 39...
Procesando Tabla 40...
Procesando Tabla 41...
Procesando Tabla 42...
Procesando Tabla 43...
Procesando Tabla 44...
Procesando Tabla 45...
Procesando Tabla 46...
Procesando Tabla 47...
Procesando Tabla 48...
Procesando Tabla 49...
Procesando Tabla 50...
Procesando Tabla 51...
Procesando Tabla 52...
Procesando Tabla 53...
Procesando Tabla 54...
Procesando Tabla 55...
Procesando Tabla 56...
Procesando Tabla 57...
Procesando Tabla 58...
Procesando Tabla 59...
Procesando Tabla 60...
Procesando Tabla 61...
Procesando Tabla 62...
Procesando Tabla 63...
Procesando Tabla 64...
Procesando Tabla 65...
Procesando Tabla 66...
Procesando Tabla 67...
Procesando Tabla 68...
Procesando Tabla 69...
Procesando Tabla 70...
Procesando Tabla 71...
Procesando Tabla 72...
Procesando Tabla 73...
Procesando Tabla 74...
Procesando Tabla 75...
Procesando Tabla 76...
Procesando Tabla 77...
Procesando Tabla 78...
Procesando Tabla 79...
Procesando Tabla 80...
Procesando Tabla 81...
Procesando Tabla 82...
Procesando Tabla 83...
Procesando Tabla 84...
Procesando Tabla 85...
Procesando Tabla 86...
Procesando Tabla 87...
Procesando Tabla 88...
Procesando Tabla 89...
Procesando Tabla 90...
Procesando Tabla 91...
Procesando Tabla 92...
Procesando Tabla 93...
Procesando Tabla 94...
Procesando Tabla 95...
Procesando Tabla 96...
Procesando Tabla 97...
Procesando Tabla 98...
Procesando Tabla 99...
Procesando Tabla 100...
Procesando Tabla 101...
Procesando Tabla 102...
Procesando Tabla 103...
Procesando Tabla 104...
Procesando Tabla 105...
Procesando Tabla 106...
Procesando Tabla 107...
Procesando Tabla 108...
Procesando Tabla 109...
Procesando Tabla 110...
Procesando Tabla 111...
Procesando Tabla 112...
Procesando Tabla 113...
Procesando Tabla 114...
Procesando Tabla 115...
Procesando Tabla 116...
Procesando Tabla 117...
Procesando Tabla 118...
Procesando Tabla 119...
Procesando Tabla 120...
Procesando Tabla 121...
Procesando Tabla 122...
Procesando Tabla 123...
Procesando Tabla 124...
Procesando Tabla 125...
Procesando Tabla 126...
Procesando Tabla 127...
Procesando Tabla 128...
Procesando Tabla 129...
Procesando Tabla 130...
Procesando Tabla 131...
Procesando Tabla 132...
Procesando Tabla 133...
Procesando Tabla 134...
Procesando Tabla 135...
Procesando Tabla 136...
Procesando Tabla 137...
Procesando Tabla 138...
Procesando Tabla 139...
Procesando Tabla 140...
Procesando Tabla 141...
Procesando Tabla 142...
Procesando Tabla 143...
Procesando Tabla 144...
Procesando Tabla 145...
Procesando Tabla 146...
Procesando Tabla 147...
Procesando Tabla 148...
Procesando Tabla 149...
Procesando Tabla 150...
Procesando Tabla 151...
Procesando Tabla 152...
Procesando Tabla 153...
Procesando Tabla 154...
Procesando Tabla 155...
Procesando Tabla 156...
Procesando Tabla 157...
Procesando Tabla 158...
Procesando Tabla 159...
Procesando Tabla 160...
Procesando Tabla 161...
Procesando Tabla 162...
Procesando Tabla 163...
Procesando Tabla 164...
Procesando Tabla 165...
Procesando Tabla 166...
Procesando Tabla 167...
Procesando Tabla 168...
Procesando Tabla 169...
Procesando Tabla 170...
Procesando Tabla 171...
Procesando Tabla 172...
Procesando Tabla 173...
Procesando Tabla 174...
Procesando Tabla 175...
Procesando Tabla 176...
Procesando Tabla 177...
Procesando Tabla 178...
Procesando Tabla 179...
Procesando Tabla 180...
Procesando Tabla 181...
Procesando Tabla 182...
Procesando Tabla 183...
Procesando Tabla 184...
Procesando Tabla 185...
Procesando Tabla 186...
Procesando Tabla 187...
Procesando Tabla 188...
Procesando Tabla 189...
Procesando Tabla 190...
Procesando Tabla 191...
Procesando Tabla 192...
Procesando Tabla 193...
Procesando Tabla 194...
Procesando Tabla 195...
Procesando Tabla 196...
Procesando Tabla 197...
Procesando Tabla 198...
Procesando Tabla 199...
Procesando Tabla 200...
Procesando Tabla 201...
Procesando Tabla 202...
Procesando Tabla 203...
Procesando Tabla 204...
Procesando Tabla 205...
Procesando Tabla 206...
Procesando Tabla 207...
Procesando Tabla 208...
Procesando Tabla 209...
Procesando Tabla 210...
Procesando Tabla 211...
Procesando Tabla 212...
Procesando Tabla 213...
Procesando Tabla 214...
Procesando Tabla 215...
Procesando Tabla 216...
Procesando Tabla 217...
Procesando Tabla 218...
Procesando Tabla 219...
Procesando Tabla 220...
Procesando Tabla 221...
Procesando Tabla 222...
Procesando Tabla 223...
Procesando Tabla 224...
Procesando Tabla 225...
Procesando Tabla 226...
Procesando Tabla 227...
Procesando Tabla 228...
Procesando Tabla 229...
Procesando Tabla 230...
Procesando Tabla 231...
Procesando Tabla 232...
Procesando Tabla 233...
Procesando Tabla 234...
Procesando Tabla 235...
Procesando Tabla 236...
Procesando Tabla 237...
Procesando Tabla 238...
Procesando Tabla 239...
Procesando Tabla 240...
Procesando Tabla 241...
Procesando Tabla 242...
Procesando Tabla 243...
Procesando Tabla 244...
Procesando Tabla 245...
Procesando Tabla 246...
Procesando Tabla 247...
Procesando Tabla 248...
Procesando Tabla 249...
Procesando Tabla 250...
Procesando Tabla 251...
Procesando Tabla 252...
Procesando Tabla 253...
Procesando Tabla 254...
Procesando Tabla 255...
Procesando Tabla 256...
Procesando Tabla 257...
Procesando Tabla 258...
Procesando Tabla 259...
Procesando Tabla 260...
Procesando Tabla 261...
Procesando Tabla 262...
Procesando Tabla 263...
Procesando Tabla 264...
Procesando Tabla 265...
Procesando Tabla 266...
Procesando Tabla 267...
Procesando Tabla 268...
Procesando Tabla 269...
Procesando Tabla 270...
Procesando Tabla 271...
Procesando Tabla 272...
Procesando Tabla 273...
Procesando Tabla 274...
Procesando Tabla 275...
Procesando Tabla 276...
Procesando Tabla 277...
Procesando Tabla 278...
Procesando Tabla 279...
Procesando Tabla 280...
Procesando Tabla 281...
Procesando Tabla 282...
Procesando Tabla 283...
Procesando Tabla 284...
Procesando Tabla 285...
Procesando Tabla 286...
Procesando Tabla 287...
Procesando Tabla 288...
Procesando Tabla 289...
Procesando Tabla 290...
Procesando Tabla 291...
Procesando Tabla 292...
Procesando Tabla 293...
Procesando Tabla 294...
Procesando Tabla 295...
Procesando Tabla 296...
Procesando Tabla 297...
Procesando Tabla 298...
Procesando Tabla 299...
Procesando Tabla 300...
Procesando Tabla 301...
Procesando Tabla 302...
Procesando Tabla 303...
Procesando Tabla 304...
Procesando Tabla 305...
Procesando Tabla 306...
Procesando Tabla 307...
Procesando Tabla 308...
Procesando Tabla 309...
Procesando Tabla 310...
Procesando Tabla 311...
Procesando Tabla 312...
Procesando Tabla 313...
Procesando Tabla 314...
Procesando Tabla 315...
Procesando Tabla 316...
Procesando Tabla 317...
Procesando Tabla 318...
Procesando Tabla 319...
Procesando Tabla 320...
Procesando Tabla 321...
Procesando Tabla 322...
Procesando Tabla 323...
     Unnamed: 0                                         Unnamed: 1 Unnamed: 2  \
0            ID                                             UBIGEO        NaN
1             1                                                 01   AMAZONAS
2             2                                                 02     ANCASH
3             3                                                 03   APURIMAC
4             4                                                 04   AREQUIPA
...         ...                                                ...        ...
6572       6344  Rio Urubamba - Maldonadillo - Río Tambo - Pta....        NaN
6573       6345       Emp. UC-642 - Jorge Chávez - Pta. Carretera.        NaN
6574       6346     Emp. UC-645 - Pte. Huaywashi - Pta. Carretera.        NaN
6575       6347  Río Urubamba - Dos de Mayo - Centro América - ...        NaN
6576       6348    Sepahua - Campo de Aterrizaje - Pta. Carretera.        NaN

        Unnamed: 3       No DE   Unnamed: 4      ID ÓDIG TRAYECTORIA  \
0     DEPARTAMENTO  PROVINCIAS  No DE RUTAS     NaN  NaN         NaN
1              NaN           7          200     NaN  NaN         NaN
2              NaN          20          374     NaN  NaN         NaN
3              NaN           7          139     NaN  NaN         NaN
4              NaN           8          345     NaN  NaN         NaN
...            ...         ...          ...     ...  ...         ...
6572           NaN         NaN          NaN  UC-642  NaN         NaN
6573           NaN         NaN          NaN  UC-643  NaN         NaN
6574           NaN         NaN          NaN  UC-644  NaN         NaN
6575           NaN         NaN          NaN  UC-645  NaN         NaN
6576           NaN         NaN          NaN  UC-646  NaN         NaN

      Unnamed: 5  ...  ID CÓDIGO ÓDIGO TRYECTORIA TOTAL 309  328  IS  529   |  \
0            NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN
1            NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN
2            NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN
3            NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN
4            NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN
...          ...  ...        ...   ...        ...   ...  ..  ...  ..  ...  ..
6572         NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN
6573         NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN
6574         NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN
6575         NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN
6576         NaN  ...        NaN   NaN        NaN   NaN NaN  NaN NaN  NaN NaN

      CODIGO
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
6572     NaN
6573     NaN
6574     NaN
6575     NaN
6576     NaN

[6577 rows x 24 columns]